/* put your font link here*/
@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@400;600;700;900&display=swap");
/* put your font variable here*/
/* put your font width here*/
/* mix your font here*/
/* font renponsive */
/* Large font */
/* medium font */
/* small font */
/* computer screen */
/* computer screen */
/* tablet screen */
/* mobile screen */
/*---------------Main Css Start---------------*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
}

/*---------------Selected Color---------------*/
*::-moz-selection {
  background: rgba(0, 180, 175, 0.8);
  color: #FFFFFF;
}
*::selection {
  background: rgba(0, 180, 175, 0.8);
  color: #FFFFFF;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 6rem;
}

@media screen and (min-device-width: 481px) and (max-device-width: 767px) {
  html {
    font-size: 55%;
  }
}

@media screen and (max-device-width: 480px) {
  html {
    font-size: 45%;
  }
}

body {
  color: #222121;
  background: rgba(255, 255, 255, 0.4);
  font-family: "Titillium Web", sans-serif;
  line-height: 1.6;
}

.container {
  width: 100%;
  padding: 0 12%;
  margin: 0 auto;
}

@media screen and (max-device-width: 982px) {
  .container {
    padding: 0 6%;
  }
}

.container-fluid {
  max-width: 100%;
  padding: 0;
  margin: 0 auto;
}

section {
  padding-top: 9rem;
  padding-bottom: 9rem;
}

img {
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

h1, h2, p {
  margin-top: 0;
  margin-bottom: 1rem;
}

a {
  text-decoration: none;
  cursor: pointer;
}

/* button preset*/
.btn {
  display: inline-block;
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 1.5rem;
  padding-right: 4.8rem;
  color: rgba(255, 255, 255, 0.9);
  background: rgba(0, 180, 175, 0.9);
  cursor: pointer;
  font-size: 1.4rem;
  position: relative;
  overflow: hidden;
  z-index: 0;
  margin-top: 1rem;
  white-space: nowrap;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 400;
}

.btn::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  padding-right: 32%;
  background-image: url(../img/Group765.png);
  background-repeat: no-repeat;
  background-position: center;
  width: 0%;
  height: 100%;
  z-index: -1;
}

.btn:hover {
  color: rgba(255, 255, 255, 0.9);
  background: rgba(0, 180, 175, 0.9);
}

.heading::before {
  top: 0;
  right: 0;
  padding-right: 32%;
  background-image: url(https://bores.netlify.app/images/Line%2073.png);
  background-repeat: no-repeat;
  background-position: center;
  width: 0%;
  height: 100%;
  z-index: -1;
}

/*---------------Menu Start---------------*/
.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  padding: 2rem 0;
  border-bottom: 0.1rem solid rgba(255, 255, 255, 0.1);
}

.header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.header .container .btn {
  background: none;
  border: 0.1rem solid rgba(255, 255, 255, 0.8);
}

.header .container .btn:hover {
  color: rgba(255, 255, 255, 0.8);
  background: rgba(0, 180, 175, 0.9);
  border: 0.1rem solid rgba(0, 180, 175, 0.9);
}

@media screen and (max-device-width: 767px) {
  .header .container .btn {
    display: none;
  }
}

.header__bar {
  cursor: pointer;
  color: rgba(9, 29, 29, 0.9);
  border: 0.1rem solid rgba(0, 180, 175, 0.6);
  border-radius: .3rem;
  padding: 1.2rem 2.2rem;
}

@media screen and (min-device-width: 767px) {
  .header__bar {
    display: none;
  }
}

.header__nav-bar {
  white-space: nowrap;
}

@media screen and (max-device-width: 767px) {
  .header__nav-bar {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: rgba(34, 33, 33, 0.1);
    border-bottom: 0.1rem solid rgba(34, 33, 33, 0.1);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
            clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }
  .header__nav-bar.active {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }
  .header__nav-bar a {
    padding: 2rem;
    display: block;
    background: rgba(34, 33, 33, 0.05);
    color: #222121;
  }
}

.header__nav-bar a {
  color: white;
  padding-left: 0.6rem;
  padding-right: 0.6rem;
  font-size: 1.4rem;
}

@media screen and (max-device-width: 767px) {
  .header__nav-bar a {
    padding-left: 6%;
  }
}

/*---------------hero Start---------------*/
.hero {
  min-height: 100vh;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(34, 33, 33, 0.3))), url(../img/header-bgi.jpg);
  background: linear-gradient(rgba(34, 33, 33, 0.3)), url(../img/header-bgi.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.hero .container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
}

@media screen and (max-device-width: 767px) {
  .hero .container {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
}

.hero__blank-area {
  height: 55vh;
  margin-top: auto;
  -ms-grid-row: 1;
  grid-area: 1 / span 2;
}

.hero__text-area h1 {
  text-align: center;
  font-size: 3rem;
  font-weight: 600;
  font-family: "Titillium Web", sans-serif;
  line-height: 1.2;
  color: rgba(34, 33, 33, 0.9);
  white-space: nowrap;
  font-size: 2.7rem;
  font-weight: 400;
}

@media screen and (max-device-width: 320px) {
  .hero__text-area h1 {
    font-size: 2.1rem;
  }
}

.hero__text-area h1 span {
  display: block;
  font-weight: 600;
  padding: 1rem 0;
}

.hero__text-area p {
  font-size: 1.5rem;
  font-weight: 400;
  font-family: "Titillium Web", sans-serif;
  line-height: 3rem;
  color: #222121;
}

.hero__text-area h2, .hero__text-area h1, .hero__text-area p {
  color: rgba(255, 255, 255, 0.9);
  text-align: left;
}

/*---------------service Start---------------*/
.service {
  background: rgba(0, 204, 102, 0.05);
}

.service__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.7rem;
}

.service__title h1 {
  font-size: 1.6rem;
  font-weight: 600;
  font-family: "Titillium Web", sans-serif;
  line-height: 3rem;
  color: #222121;
  text-transform: uppercase;
}

.service__text {
  font-size: 1.5rem;
  font-weight: 400;
  font-family: "Titillium Web", sans-serif;
  line-height: 3rem;
  color: #222121;
  width: 90%;
  padding-bottom: 5rem;
}

.service__category {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  gap: 2.5rem;
}

@media screen and (max-device-width: 767px) {
  .service__category {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
}

.service__category .category-img {
  padding-bottom: 2rem;
}

.service__category .category-title {
  font-size: 2rem;
  font-weight: 600;
  font-family: "Titillium Web", sans-serif;
  line-height: 1.2;
  color: rgba(34, 33, 33, 0.9);
  white-space: nowrap;
}

.service__category .category-text {
  font-size: 1.5rem;
  font-weight: 400;
  font-family: "Titillium Web", sans-serif;
  line-height: 3rem;
  color: #222121;
}

.service__category .category-btn {
  font-size: 1.5rem;
  font-weight: 400;
  font-family: "Titillium Web", sans-serif;
  line-height: 3rem;
  color: #222121;
}

/*---------------approch Start---------------*/
.approch {
  margin-bottom: auto;
  padding-bottom: calc(+30%);
}

@media screen and (min-device-width: 1610px) {
  .approch {
    padding-bottom: calc(+23%);
  }
}

@media screen and (min-device-width: 764px) and (max-device-width: 992px) {
  .approch {
    padding-bottom: calc(+36%);
  }
}

.approch__wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  gap: 1.7rem;
}

@media screen and (max-device-width: 767px) {
  .approch__wrapper {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
}

.approch__left--title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.7rem;
}

.approch__left--title h1 {
  font-size: 1.6rem;
  font-weight: 600;
  font-family: "Titillium Web", sans-serif;
  line-height: 3rem;
  color: #222121;
  text-transform: uppercase;
}

.approch__left span {
  display: block;
  font-size: 3rem;
  font-weight: 600;
  line-height: 3.7rem;
  padding: 1rem 0;
  margin-top: 1.5rem;
}

.approch__right {
  padding: 2.5rem 0;
}

.approch__right p {
  font-size: 1.5rem;
  font-weight: 400;
  font-family: "Titillium Web", sans-serif;
  line-height: 3rem;
  color: #222121;
  margin-bottom: 3rem;
}

/*---------------traning Start---------------*/
.traning {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(6, 20, 20, 0.8))), url(../img/MaskGroup2.png) no-repeat;
  background: linear-gradient(rgba(6, 20, 20, 0.8)), url(../img/MaskGroup2.png) no-repeat;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  padding-top: calc(+20%);
  margin-top: auto;
}

@media screen and (max-device-width: 321px) {
  .traning {
    padding-top: calc(+1%);
  }
}

.traning__family {
  position: absolute;
  top: -35%;
  left: 0;
  right: 0;
  width: 80%;
  margin: auto;
}

@media screen and (min-device-width: 970px) {
  .traning__family {
    top: -24%;
  }
}

@media screen and (max-device-width: 970px) {
  .traning__family {
    top: -25%;
  }
}

.traning__family img {
  width: 100%;
  max-width: 120rem;
  display: block;
  margin: auto;
}

.traning__wrapper {
  position: relative;
  margin-top: 10rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 1.5rem;
}

.traning__titles {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 60%;
          flex: 1 1 60%;
}

.traning__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.7rem;
}

.traning__title h1 {
  font-size: 1.6rem;
  font-weight: 600;
  font-family: "Titillium Web", sans-serif;
  line-height: 3rem;
  color: #222121;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.8);
}

.traning__text {
  font-size: 1.5rem;
  font-weight: 400;
  font-family: "Titillium Web", sans-serif;
  line-height: 3rem;
  color: #222121;
  color: rgba(255, 255, 255, 0.8);
}

.traning__btn {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 30%;
          flex: 1 1 30%;
  text-align: end;
  padding-bottom: 2%;
  padding-right: 10rem;
}

.traning__btn-text {
  background: none;
  font-size: 1.4rem;
  color: rgba(255, 255, 255, 0.9);
  white-space: nowrap;
  padding-right: 1.5rem;
}

.traning__btn-img {
  width: 3rem;
}

.traning__table-wrapper {
  display: -ms-grid;
  display: grid;
  margin-top: 10rem;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  position: relative;
  gap: 1.5rem;
  z-index: 1;
}

@media screen and (max-device-width: 767px) {
  .traning__table-wrapper {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
}

.traning__table {
  position: relative;
  background: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.traning__table--title {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 45%;
          flex: 1 1 45%;
  padding: 1rem;
  border-bottom: 0.1rem solid rgba(34, 33, 33, 0.1);
}

.traning__table--btn {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40%;
          flex: 1 1 40%;
  padding: 1rem;
}

.table--type {
  font-size: 1.5rem;
  font-weight: 400;
  font-family: "Titillium Web", sans-serif;
  line-height: 3rem;
  color: #222121;
}

.table--title {
  font-size: 2rem;
  font-weight: 600;
  font-family: "Titillium Web", sans-serif;
  line-height: 1.2;
  color: rgba(34, 33, 33, 0.9);
  white-space: nowrap;
  white-space: pre-wrap;
}

.table--date, .table--price, .table--btn-learn {
  font-size: 1.5rem;
  font-weight: 400;
  font-family: "Titillium Web", sans-serif;
  line-height: 3rem;
  color: #222121;
}

.table--date {
  padding-bottom: 6rem;
}

.table--price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.table--price img {
  width: 7%;
  height: 1%;
}

.table--price p {
  font-size: 1.5rem;
  font-weight: 400;
  font-family: "Titillium Web", sans-serif;
  line-height: 3rem;
  color: #222121;
  font-size: 1.7rem;
}

.table--text {
  font-size: 1.5rem;
  font-weight: 400;
  font-family: "Titillium Web", sans-serif;
  line-height: 3rem;
  color: #222121;
}

.table--btn-learn {
  display: block;
}

.table--btn-wrapper {
  margin-top: auto;
}

.table--btn {
  white-space: pre-wrap;
  width: 100%;
}

.traning__family {
  position: absolute;
}

@media screen and (max-device-width: 767px) {
  .traning__family {
    top: -12rem;
  }
}

.traning__family img {
  width: 100%;
}

@media screen and (max-device-width: 767px) {
  .traning__family img {
    max-width: 1200px;
  }
}

/*---------------boring Start---------------*/
.boring__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 1.5rem;
}

.boring__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.7rem;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 60%;
          flex: 1 1 60%;
}

.boring__title h1 {
  font-size: 1.6rem;
  font-weight: 600;
  font-family: "Titillium Web", sans-serif;
  line-height: 3rem;
  color: #222121;
  text-transform: uppercase;
}

.boring__text {
  font-size: 1.5rem;
  font-weight: 400;
  font-family: "Titillium Web", sans-serif;
  line-height: 3rem;
  color: #222121;
}

.boring__btn {
  padding-right: 2%;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 30%;
          flex: 1 1 30%;
  text-align: end;
  padding-bottom: 2%;
  padding-right: 10rem;
}

.boring__btn-text {
  background: none;
  font-size: 1.4rem;
  color: rgba(34, 33, 33, 0.9);
  white-space: nowrap;
  padding-right: 1.5rem;
}

.boring__btn-img {
  width: 3rem;
}

.boring__cards {
  padding-top: 6rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
}

@media screen and (max-device-width: 767px) {
  .boring__cards {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
}

.boring__card img {
  min-width: 100%;
}

.boring__card-title {
  font-size: 2rem;
  font-weight: 600;
  font-family: "Titillium Web", sans-serif;
  line-height: 1.2;
  color: rgba(34, 33, 33, 0.9);
  white-space: nowrap;
  padding: 3rem 0;
}

.boring__card-text {
  font-size: 1.5rem;
  font-weight: 400;
  font-family: "Titillium Web", sans-serif;
  line-height: 3rem;
  color: #222121;
}

/*---------------star Start---------------*/
.star {
  background: #061414;
}

.star__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 1.5rem;
}

.star__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.7rem;
}

.star__title h1 {
  font-size: 1.6rem;
  font-weight: 600;
  font-family: "Titillium Web", sans-serif;
  line-height: 3rem;
  color: #222121;
  text-transform: uppercase;
  color: #FFFFFF;
}

.star__text {
  font-size: 1.5rem;
  font-weight: 400;
  font-family: "Titillium Web", sans-serif;
  line-height: 3rem;
  color: #222121;
  color: #FFFFFF;
}

.star__cards {
  padding-top: 6rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  gap: 2.5rem;
}

@media screen and (max-device-width: 767px) {
  .star__cards {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
}

@media screen and (max-device-width: 768px) {
  .star__cards {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-device-width: 347px) {
  .star__cards {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
}

.star__card {
  position: relative;
  padding: 2rem;
  overflow: hidden;
  text-align: center;
  background: rgba(9, 29, 29, 0.9);
  -webkit-box-shadow: 0 0.5rem 1rem rgba(9, 29, 29, 0.1);
          box-shadow: 0 0.5rem 1rem rgba(9, 29, 29, 0.1);
  border: 0.1rem solid rgba(9, 29, 29, 0.2);
  cursor: pointer;
}

.star__card-number {
  font-size: 2rem;
  font-weight: 600;
  font-family: "Titillium Web", sans-serif;
  line-height: 1.2;
  color: rgba(34, 33, 33, 0.9);
  white-space: nowrap;
  color: #FFFFFF;
  padding: 3rem 0;
  border-bottom: 0.1rem solid rgba(255, 255, 255, 0.1);
}

.star__card-text {
  font-size: 1.5rem;
  font-weight: 400;
  font-family: "Titillium Web", sans-serif;
  line-height: 3rem;
  color: #222121;
  color: #FFFFFF;
}

/*---------------footer Start---------------*/
.footer {
  padding-top: 3rem;
}

.footer__wrapper {
  padding: 6rem 0;
  border-top: 0.1rem solid rgba(9, 29, 29, 0.1);
  border-bottom: 0.1rem solid rgba(9, 29, 29, 0.1);
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
      grid-template-areas: "address-area  link-area  link-area";
  gap: 1.5rem;
}

@media screen and (max-device-width: 767px) {
  .footer__wrapper {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
}

@media screen and (max-device-width: 767px) {
  .footer__wrapper {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
        grid-template-areas: "address-area" "link-area";
  }
}

.footer__address-area {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: address-area;
}

.footer__address-area img {
  margin-bottom: 2rem;
}

.footer__address {
  font-size: 1.5rem;
  font-weight: 400;
  font-family: "Titillium Web", sans-serif;
  line-height: 3rem;
  color: #222121;
}

.footer__social-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 2.7rem;
  margin-top: 2rem;
}

.footer__social-icon a {
  font-size: 2.1rem;
  color: rgba(9, 29, 29, 0.8);
}

.footer__link-area {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-area: link-area;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  justify-items: end;
}

@media screen and (max-device-width: 767px) {
  .footer__link-area {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
}

@media screen and (max-device-width: 767px) {
  .footer__link-area {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    justify-items: start;
    margin-top: 3rem;
  }
}

.footer__media-title h2, .footer__service-title h2, .footer__nav-title h2 {
  font-size: 2rem;
  font-weight: 600;
  font-family: "Titillium Web", sans-serif;
  line-height: 1.2;
  color: rgba(34, 33, 33, 0.9);
  white-space: nowrap;
}

.footer__nav-link, .footer__service-link, .footer__media-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 0.7rem;
}

.footer__nav-link a, .footer__service-link a, .footer__media-link a {
  font-size: 1.5rem;
  font-weight: 400;
  font-family: "Titillium Web", sans-serif;
  line-height: 3rem;
  color: #222121;
}

.footer .container-fluid {
  padding: 0 12%;
  margin-top: 6rem;
}

@media screen and (max-device-width: 982px) {
  .footer .container-fluid {
    padding: 0 6%;
  }
}

.footer__copyright-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__copyright-wrapper p {
  font-size: 1.5rem;
  font-weight: 400;
  font-family: "Titillium Web", sans-serif;
  line-height: 3rem;
  color: #222121;
}
/*# sourceMappingURL=main.css.map */