.approch{
    margin-bottom: auto;
    padding-bottom: calc(+30%);
    @include computer_lg ($min-screen : 1610px){
        padding-bottom: calc(+23%);
    }
    
    @include tablet ($min-screen: 764px, $max-screen : 992px){
        padding-bottom: calc(+36%);
    }
    &__wrapper{
        @include box-grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1.7rem;
    }
    &__left{
        &--title{
            @include sub-heading;
            
            gap: 1.5rem;
            span{
                display: block;
                font-size: 3rem;
                font-weight: $fw-b;
                line-height: 3.7rem;
                padding: 1rem 0;
                margin-top: 1.5rem;
            }
        }
    }
    &__right{
        padding: 2.5rem 0;
        p{
            @include text;
            margin-bottom: 3rem;
        }
    }
}
