/*---------------Main Css Start---------------*/
*,
*::before,
*::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;  
  outline: none;
  border:none;
  text-decoration: none;
  text-transform: capitalize;
  }
  /*---------------Selected Color---------------*/
  *::selection{
    background: rgba($green, 0.8);
    color: $white;
  }
  html{
    
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 6rem;
  @include font_md {
    font-size: 55%;
  }
  @include font_sm {
    font-size: 45%;
  }
}
body{
  color: $dark;
  background: rgba($white, 0.4);
  font-family: $ff-ss;
  line-height: 1.6;  

  }

.container {
  width: 100%;
  padding: 0 12%;
  @include mobile ($max-screen : 982px){
    padding: 0 6%;
  }
  margin: 0 auto;
}
.container-fluid {
  max-width: 100%;
  padding: 0;
  margin: 0 auto;
}
section{
  padding-top: 9rem;
  padding-bottom: 9rem;
}
img {
  max-width: 100%;
  object-fit: cover;
}

h1, h2, p{
    margin-top: 0;
    margin-bottom: 1rem;
}
a{
  text-decoration: none;
  cursor: pointer;
}
/* button preset*/
.btn{
  display: inline-block;
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 1.5rem;
  padding-right: 4.8rem;
  color:rgba($white, 0.9);
  background:rgba($green, 0.9);
  cursor: pointer;
  font-size: 1.4rem;
  position: relative;
  overflow: hidden;
  z-index: 0;
  margin-top: 1rem;
  white-space: nowrap;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: $fw-n;
}

.btn::before{
  content: '';
  position: absolute;
  top:0; right: 0;
  padding-right: 32%;
  background-image: url(../img/Group765.png);
  background-repeat: no-repeat;
  background-position: center;
  width:0%;
  height:100%;
  z-index: -1;
}

.btn:hover{
  color:rgba($white, 0.9);
  background: rgba($green, 0.9);
}
.heading::before{
  top:0; right: 0;
  padding-right: 32%;
  background-image: url(https://bores.netlify.app/images/Line%2073.png);
  background-repeat: no-repeat;
  background-position: center;
  width:0%;
  height:100%;
  z-index: -1;
  
 }