/*---------------boring Start---------------*/
.boring{
    &__wrapper{
        @include box-flex ($flx-wrp: nowrap);
        justify-content: space-between;
        gap: 1.5rem;
    }
    &__title{
        @include heading-flex;
        flex: 1 1 60%;
        h1{
            @include sub-heading;
        }
    }
    &__text{
        @include text;
    }
    &__btn{
        padding-right: 2%;
        flex: 1 1 30%;
        text-align: end;
         
        padding-bottom: 2%;
        padding-right: 10rem;
        &-text{
            background: none;
            font-size: 1.4rem;
            color:rgba($dark, 0.9);
            white-space: nowrap;
            padding-right: 1.5rem;
        }
        &-img{
            width: 3rem;
            
        }
     }
     &__cards{
         padding-top: 6rem;
         @include box-grid;
         grid-template-columns: repeat(3, 1fr);
         gap: 1.5rem;
     }
     &__card{
         img{
             min-width: 100%
         }
         &-title{
             @include card-title;
             padding: 3rem 0;
         }
         &-text{
            @include text;
         }
     }
}